[submodule "filtrar-vagas-espro"]
	path = filtrar-vagas-espro
	url = https://github.com/luascfl/filtrar-vagas-espro
[submodule "gsheets-diff-alerts-mods"]
	path = gsheets-diff-alerts-mods
	url = https://github.com/luascfl/gsheets-diff-alerts-mods
[submodule "hide-liked-posts-instagram"]
	path = hide-liked-posts-instagram
	url = https://github.com/luascfl/hide-liked-posts-instagram
[submodule "manage-chats-chatgpt"]
	path = manage-chats-chatgpt
	url = https://github.com/luascfl/manage-chats-chatgpt
[submodule "empty-google-tasks"]
	path = empty-google-tasks
	url = https://github.com/luascfl/empty-google-tasks
[submodule "zotero-web-open-in-desktop"]
	path = zotero-web-open-in-desktop
	url = https://github.com/luascfl/zotero-web-open-in-desktop
